{% extends 'base.html' %}

{%block content%}
<center>
    <h1>Reset Email</h1>
    <form action="" method="post" novalidate>
        {{form.csrf_token}}
        {{ form.hidden_tag() }}
        <p>
            {{ form.new_email.label }}<br>
            {{ form.new_email(size=32) }}<br>
            {% for error in form.new_email.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
            <p>
            {{ form.confirm_email.label }}<br>
            {{ form.confirm_email(size=32) }}<br>
            {% for error in form.confirm_email.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.submit() }}</p>
       <font color = "red">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        </font>
    </form>
</center>
{% endblock %}
