 {% extends 'base.html'%}
{%block content%}
<center>
  <div class = "col-lg-12">
    <!--
  <form action = "", method = "POST">
    <button class = "btn-Primary btn-sm" value = "Print" name = "print">Print PDF</button></br>
  </form>
-->
</div>
  

 <table class="table" style = "max-width: 50vw;">

          <thead>
            <tr>
              <th scope="col">Seat ID</th>
              <th scope="col">Row</th>
              <th scope="col">Seat</th>
            </tr>
          </thead>
          <tbody>

          {% for seat in seats %}  
            <tr>
              <th scope="row">{{seat.id}}</th>
              <td>{{seat.row}}</td>
              <td>{{seat.seat}}</td>
           </tr>
          {%endfor%}
      </tbody>
  </table>
</center>
  {%endblock%}